absl-py==0.11.0
astor==0.8.1
bleach==1.5.0
certifi==2020.12.5
gast==0.4.0
grpcio==1.34.0
html5lib==0.9999999
importlib-metadata==3.3.0
Markdown==3.3.3
mido==1.2.9
numpy==1.19.4
pretty-midi==0.2.9
protobuf==3.14.0
PyYAML==5.3.1
scipy==0.18.1
six==1.15.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.0
